{%  extends 'main.html' %}
{% load static %}

{% block content %}
<head>
        <title>Home</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
        <meta name="google" content="notranslate" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous" />
    </head>

    <nav class="navbar navbar-expand-lg navbar-light" style="background: #DCDCDC; left:0px;" id="mainNav">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
						 <li class="nav-item active" id="img">
                            <a href="{% url 'LandingPage' %}"><img style="left:5px; position: absolute;" src="{% static 'images/logo.jpg' %}"></a>
                         </li>
                        <span style="color:black; font-size:24px; margin-right:20px; font-weight: bold; ">
                        <button>Hello, {{request.user}}</button></span>
                         <li class="nav-item text-black">
                            <a class="nav-link text-black font-weight-bold" href="{% url 'News' %}">Latest news</a>
                        </li>
                        <li class="nav-item text-black">
                            <a class="nav-link text-black font-weight-bold" href="{% url 'Logout' %}">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


	<br>


<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5>Customer:</h5>
			<hr>
			<a class="btn btn-outline-info  btn-sm btn-block" href="">Update Customer</a>
			<a class="btn btn-outline-danger  btn-sm btn-block" href="">Delete Customer</a>

		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Contact Information</h5>
			<hr>
			<p>Email: </p>
			<p>Phone: </p>
		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Total Orders</h5>
			<hr>
			<h1 style="text-align: center;padding: 10px"></h1>
		</div>
	</div>
</div>


<br>
<div class="row">
	<div class="col">
		<div class="card card-body">
			<form method="get">

		    <button class="btn btn-primary" type="submit">Search</button>
		  </form>
		</div>
	</div>

</div>
<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Product</th>
					<th>Category</th>
					<th>Date Orderd</th>
					<th>Status</th>
					<th>Update</th>
					<th>Remove</th>
				</tr>

			</table>
		</div>
	</div>
</div>
{% endblock %}